.shadow-bottom{
 box-shadow: 5px 0px 10px rgba(19, 15, 235, 0.1);
}

.shadow-left{
  box-shadow: 0px 5px 10px rgba(19, 15, 235, 0.1);
 }

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(242,24,104,0.1) #f8f8f8;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(242, 24, 104, 0.281);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(54, 53, 53);;
}



.smallSCroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(242,24,104,0.1) #f8f8f8;
}

/* Works on Chrome, Edge, and Safari */
.smallSCroll::-webkit-scrollbar {
  width: 5px;
  height: 1px; 
}

.smallSCroll::-webkit-scrollbar-track {
  background: rgba(242, 24, 104, 0.281);
}

.smallSCroll::-webkit-scrollbar-thumb {
  background-color: rgb(54, 53, 53);;
  border-radius: 5px;
}

